{
	"presets": [
		"es2015",
		"stage-0",
		"react"
	],
	"env": {
		"start": {
			"presets": [
				"react-hmre"
			]
		}
	},
	"plugins": [
		"babel-plugin-transform-decorators-legacy",
		"transform-flow-strip-types"
	]
}